<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>Practice</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">


</head>
<body ng-controller="MyCtrl as myCtrl" ng-cloak>
  <div>
      <!--h1>Message: {{myCtrl.message}}</h1>
      <input type="text" placeholder="Your message here" ng-model="myCtrl.message">
      <button type="button" ng-click="myCtrl.toUpperCase()">Change to Uppercase</button-->

      <div class="container">
          <h1>My Shopping Cart
              <span ng-if="myCtrl.items.length == 0"> Empty</span>
              <span ng-if="myCtrl.items.length > 0"> ( {{myCtrl.items.length}} )</span>
          </h1>

          <input type="text"  placeholder="Your item here" ng-model="myCtrl.item">
          <button type="button" class="btn btn-success"  ng-disabled="myCtrl.item.length<=0" ng-click="myCtrl.addToCart()">
              Add to Cart
          </button>

          <div ng-show="myCtrl.items.length <= 0">
              <h3>Your basket is empty</h3>
          </div>

          <div ng-show="myCtrl.items.length > 0">
              <h3>My Basket ( {{myCtrl.items.length}} ) </h3>
              <table class="table table-hover">
                  <tr ng-repeat="i in myCtrl.items track by $index">
                      <td ng-click="myCtrl.deleteItem($index)">{{i}}</td>
                  </tr>

              </table>
          </div>

          <!--ul>
              <li ng-repeat="i in myCtrl.items">
                  {{i}}
              </li>
          </ul-->
      </div>
  </div>

</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="app.js"></script>
</html>